# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

qcom_connect_to_property_vault(sysadm_t)

# Required for ssh shell
dev_rw_input_dev(sysadm_t)
dev_rw_gpiochip(sysadm_t)
dev_rw_generic_chr_files(sysadm_t)
dev_read_video_dev(sysadm_t)
dev_write_video_dev(sysadm_t)
dev_rw_dri(sysadm_t)
qcom_dev_read_write_system_dmabuf(sysadm_t)
qcom_pulseaudio_socket_connect(sysadm_t)
qcom_cam_server_device_rw(sysadm_t)
qcom_dev_gpu_rw_device(sysadm_t)
qcom_cdsp_secure_read_device(sysadm_t)
qcom_adsp_secure_read_device(sysadm_t)
qcom_weston_dev_socket_connect(sysadm_t)
qcom_weston_script_execute(sysadm_t)
qcom_connect_perf_hal_socket(sysadm_t)