[Unit]
Description=aDSP RPC daemon

[Service]
User=fastrpc
Group=fastrpc
SupplementaryGroups=kmem
Type=exec
Restart=always
ExecStart=/usr/bin/adsprpcd

[Install]
WantedBy=multi-user.target
