#Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

ACTION=="add" SUBSYSTEM=="dma_heap", KERNEL=="system" GROUP="kmem", MODE="0640"
ACTION=="add" SUBSYSTEM=="dma_heap", KERNEL=="reserved" GROUP="kmem", MODE="0640"
