# For Kodiak
ACTION=="add", ATTR{soc_id}=="497|498|575", \
               RUN+="/bin/sh -c '/sbin/modprobe camera_qcm6490'"
# For Lemans
ACTION=="add", ATTR{soc_id}=="534|667|676", \
               RUN+="/bin/sh -c '/sbin/modprobe camera_qcs9100'"
# For Monaco
ACTION=="add", ATTR{soc_id}=="606|675|674", \
               RUN+="/bin/sh -c '/sbin/modprobe camera_qcs8300'"



